# data
source_path = data/mipnerf360/room
start_checkpoint = output/mipnerf360/room/0/chkpnt30000.pth
codebook = data/mipnerf360/room/images/xxx_codebook.pt

# ModelParams
resolution = 4
codebook_size = 128
semantic_features_dim = 8

# test
texts = ["blue grey chair", "silver gray curtain", "brown shoes", "yellow books", "deep dark green carpets", "green Yucca plant", "wine glasses and bottles", "yellow wood floors", "piano keyboard","white wood door",  "windows"]

test_set = ["DSCF4670","DSCF4680","DSCF4690","DSCF4700","DSCF4721","DSCF4730","DSCF4759","DSCF4770","DSCF4780","DSCF4795","DSCF4800","DSCF4816","DSCF4854","DSCF4867","DSCF4880","DSCF4908","DSCF4920","DSCF4925","DSCF4958"]

alpha  = 0.5
scale = 10
com_type = "softmax"

# language_feature_indices file name 
language_feature_indices_path = xxx_encoding_indices.pt