# data
source_path = data/mipnerf360/bicycle
model_path = output/mipnerf360/bicycle/0

# ModelParams
resolution = 4
codebook_size = 128
semantic_features_dim = 8

xyz_embedding_N_freqs = 0
xyz_encoding_D = 4
xyz_encoding_W = 128
xyz_encoding_out_channels_xyz = 8

reconstruction_loss_weight = 1.0
semantic_loss_weight = 1.0
uncertainty_loss_weight = 1.0
xyzmlp_loss_weight = 1
smooth_loss_weight = 1
smooth_loss_uncertainty_min = 0.1

# OptimizationParams
densify_until_iter = 15_000

# test
test_set = ["_DSC8683","_DSC8695","_DSC8705","_DSC8709","_DSC8713","_DSC8715","_DSC8721","_DSC8733","_DSC8738","_DSC8746","_DSC8751","_DSC8756","_DSC8776","_DSC8812","_DSC8824","_DSC8830","_DSC8836","_DSC8848","_DSC8872"]

# language_feature_indices file name 
language_feature_indices_path = pyrclip_dino05_0000_128_896_1_20240401-204739_encoding_indices.pt