# data
source_path = data/mipnerf360/bonsai
model_path = output/mipnerf360/bonsai/0

# ModelParams
resolution = 4
codebook_size = 64
semantic_features_dim = 8

xyz_embedding_N_freqs = 0
xyz_encoding_D = 4
xyz_encoding_W = 128
xyz_encoding_out_channels_xyz = 8

reconstruction_loss_weight = 1.0
semantic_loss_weight = 1.0
uncertainty_loss_weight = 1.0
xyzmlp_loss_weight = 1
smooth_loss_weight = 1
smooth_loss_uncertainty_min = 0.1

# OptimizationParams
densify_until_iter = 15_000

# test
test_set = ["DSCF5565","DSCF5575","DSCF5585","DSCF5595","DSCF5605","DSCF5615","DSCF5625","DSCF5635","DSCF5645","DSCF5655","DSCF5660","DSCF5675","DSCF5685","DSCF5695","DSCF5710","DSCF5720","DSCF5730","DSCF5740","DSCF5745","DSCF5755","DSCF5765","DSCF5775","DSCF5785","DSCF5790","DSCF5800","DSCF5810","DSCF5824","DSCF5838","DSCF5850"]

# language_feature_indices file name 
language_feature_indices_path = xxx_encoding_indices.pt
