# data
source_path = data/mipnerf360/kitchen
model_path = output/mipnerf360/kitchen/0

# ModelParams
resolution = 8
codebook_size = 32
semantic_features_dim = 8

xyz_embedding_N_freqs = 0
xyz_encoding_D = 4
xyz_encoding_W = 128
xyz_encoding_out_channels_xyz = 8

reconstruction_loss_weight = 1.0
semantic_loss_weight = 1.0
uncertainty_loss_weight = 1.0
xyzmlp_loss_weight = 1
smooth_loss_weight = 1
smooth_loss_uncertainty_min = 0.1

# OptimizationParams
densify_until_iter = 15_000

# test
test_set = ["DSCF0660","DSCF0670","DSCF0680","DSCF0690","DSCF0700","DSCF0710","DSCF0720","DSCF0730","DSCF0740","DSCF0750","DSCF0760","DSCF0775","DSCF0785","DSCF0795","DSCF0805","DSCF0815","DSCF0822","DSCF0825","DSCF0835","DSCF0845","DSCF0855","DSCF0865","DSCF0880","DSCF0890","DSCF0900","DSCF0910","DSCF0920","DSCF0930"]

# language_feature_indices file name 
language_feature_indices_path = xxx_encoding_indices.pt
