# data
source_path = data/mipnerf360/room
model_path = output/mipnerf360/room/0

# ModelParams
resolution = 4
codebook_size = 128
semantic_features_dim = 8

xyz_embedding_N_freqs = 0
xyz_encoding_D = 4
xyz_encoding_W = 128
xyz_encoding_out_channels_xyz = 8

reconstruction_loss_weight = 1.0
semantic_loss_weight = 1.0
uncertainty_loss_weight = 1.0
xyzmlp_loss_weight = 1
smooth_loss_weight = 1
smooth_loss_uncertainty_min = 0.1

# OptimizationParams
densify_until_iter = 15_000

# test
test_set = ["DSCF4670","DSCF4680","DSCF4690","DSCF4700","DSCF4721","DSCF4730","DSCF4759","DSCF4770","DSCF4780","DSCF4795","DSCF4800","DSCF4816","DSCF4854","DSCF4867","DSCF4880","DSCF4908","DSCF4920","DSCF4925","DSCF4958"]

# language_feature_indices file name 
language_feature_indices_path = xxx_encoding_indices.pt
